@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,300;0,400;0,600;1,200&family=Inter:wght@300&display=swap');

:root{
  font-family: 'Inter Tight', sans-serif;
}
body{
  margin: 0;
  height: 100%;
}
.ui.container{
  margin-top: 25px !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
